<a href="https://colab.research.google.com/github/sanu1230/Academic-Project/blob/master/Auto_ML_TPOT_Regression_Property_sales_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TPOT Regression - Property sales prediction

In [1]:
# Install tpot on the server
!pip install tpot

Collecting tpot
  Downloading https://files.pythonhosted.org/packages/14/5e/cb87b0257033a7a396e533a634079ee151a239d180efe2a8b1d2e3584d23/TPOT-0.11.5-py3-none-any.whl (82kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 92kB 7.5MB/s
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.4.1)
Collecting stopit>=1.1.1
  Downloading https://files.pythonhosted.org/packages/35/58/e8bb0b0fb05baf07bbac1450c447d753da65f9701f551dca79823ce15d50/stopit-1.1.2.tar.gz
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from tpot) (0.16.0)
Collecting deap>=1.2
  Downloading https://files.pythonhosted.org/packages/0a/eb/2bd0a32e3ce757fb26264765abbaedd6d4d3640d90219a513aeabd08ee2b/deap-1.3.1-cp36-cp36m-manylinux2010_x86_64.whl (157kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 163kB 12.4MB/s
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.18.5)
Collecting update-checker>=0.16
  Downloading https://files.pythonhosted.org/packages/d6/c3/aaf8a162df8e8f9d321237c7c0e63aff95b42d19f1758f96606e3cabb245/update_checker-0.17-py2.py3-none-any.whl
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.6/dist-packages (from tpot) (4.41.1)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from tpot) (0.22.2.post1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.0.5)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->tpot) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2020.6.20)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->tpot) (1.15.0)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-cp36-none-any.whl size=11956 sha256=122b42382f5da8f2704ea03b10caa6a4aa9bee6b12a79f9ca4919a15000df669
  Stored in directory: /root/.cache/pip/wheels/3c/85/2b/2580190404636bfc63e8de3dff629c03bb795021e1983a6cc7
Successfully built stopit
Installing collected packages: stopit, deap, update-checker, tpot
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.5 update-checker-0.17

## Import Packages

In [2]:
# pandas and numpy for data manipulation
import pandas as pd
import numpy as np

# Import the tpot regressor
from tpot import TPOTRegressor

In [15]:
#Download dataset
!wget -q https://www.dropbox.com/s/6tc7e6rc395c7jz/nyc-property-sales.zip

In [16]:

#Unzip the data
!unzip nyc-property-sales.zip > /dev/null; echo " done."

 done.

In [17]:
!ls

nyc-property-sales.zip	nyc-rolling-sales.csv  sample_data

In [19]:
import warnings
warnings.filterwarnings("ignore")
import datetime
import pandas as pd               
import numpy as np
import pickle
import time

## Download and preprocess the dataset

In [20]:
t_start = time.time()
df_prop = pd.read_csv('nyc-rolling-sales.csv')
t_end = time.time()
print('pd.read_csv(): {} s'.format(t_end-t_start)) # time [s]
df_prop.head()

pd.read_csv(): 0.2600677013397217 s

   Unnamed: 0  BOROUGH  ... SALE PRICE            SALE DATE
0           4        1  ...    6625000  2017-07-19 00:00:00
1           5        1  ...        -    2016-12-14 00:00:00
2           6        1  ...        -    2016-12-09 00:00:00
3           7        1  ...    3936272  2016-09-23 00:00:00
4           8        1  ...    8000000  2016-11-17 00:00:00

[5 rows x 22 columns]

In [21]:
df_prop.shape

(84548, 22)

In [22]:
# Sample n rows
n = 10000
df_prop = df_prop.sample(n, random_state=1)
df_prop.shape

(10000, 22)

In [23]:
#This column has no significance other than being an iterator
del df_prop['Unnamed: 0']
#This column has no significant value
del df_prop['EASE-MENT']

In [24]:
df_prop['SALE PRICE'] = df_prop['SALE PRICE'].replace(' -  ',np.nan)
df_prop.dropna(inplace=True)

In [25]:
df_prop['LAND SQUARE FEET'] = df_prop['LAND SQUARE FEET'].replace(' -  ',np.nan)
df_prop['GROSS SQUARE FEET'] = df_prop['GROSS SQUARE FEET'].replace(' -  ',np.nan)

In [26]:
## Define a function impute_median and fill land square feet and gross square feet with median values
def impute_median(series):
    return series.fillna(series.median())

df_prop['LAND SQUARE FEET'] = df_prop['LAND SQUARE FEET'].transform(impute_median)
df_prop['GROSS SQUARE FEET'] = df_prop['GROSS SQUARE FEET'].transform(impute_median)

In [27]:
#Convert few column datatypes into appropriate ones for conserving memory

df_prop['TAX CLASS AT TIME OF SALE'] = df_prop['TAX CLASS AT TIME OF SALE'].astype('category')
df_prop['TAX CLASS AT PRESENT'] = df_prop['TAX CLASS AT PRESENT'].astype('category')
df_prop['LAND SQUARE FEET'] = pd.to_numeric(df_prop['LAND SQUARE FEET'], errors='coerce')
df_prop['GROSS SQUARE FEET']= pd.to_numeric(df_prop['GROSS SQUARE FEET'], errors='coerce')
df_prop['SALE PRICE'] = pd.to_numeric(df_prop['SALE PRICE'], errors='coerce')
df_prop['BOROUGH'] = df_prop['BOROUGH'].astype('category')

In [28]:
# Let's remove sale price with a nonsensically small dollar amount: $0 most commonly. 
# Since these sales are actually transfers of deeds between parties: for example, parents transferring ownership to their home to a child after moving out for retirement.

df_prop = df_prop[df_prop['SALE PRICE']!=0]

In [29]:
#Let's also remove observations that have gross square feet less than 400 sq. ft
#Let's also remove observations that have gross square feet less than 400 sq. ft
#Let's also remove observations that have sale price than 1000 dollars

df_prop = df_prop[df_prop['GROSS SQUARE FEET']>400]
df_prop = df_prop[df_prop['LAND SQUARE FEET']>400]
df_prop = df_prop[df_prop['SALE PRICE']>1000]

In [30]:
q = df_prop["SALE PRICE"].quantile(0.99)
q

15750000.0

In [31]:
df_prop = df_prop[df_prop["SALE PRICE"] < q]
df_prop_lin = df_prop.copy()

In [32]:
# Convert sale date into time,month,year and day
import datetime
df_prop['SALE DATE'] = pd.to_datetime(df_prop['SALE DATE'])
df_prop['year'] = df_prop['SALE DATE'].dt.year
df_prop['month'] = df_prop['SALE DATE'].dt.month
df_prop['day'] = df_prop['SALE DATE'].dt.day
df_prop['time'] = df_prop['SALE DATE'].dt.hour
df_prop['week_day'] = df_prop['SALE DATE'].dt.day_name()

In [33]:
#Assign numbered bouroughs to bourough names
dic = {1: 'Manhattan', 2: 'Bronx', 3: 'Brooklyn', 4: 'Queens', 5:'Staten Island'}
df_prop["borough_name"] = df_prop["BOROUGH"].apply(lambda x: dic[x])

In [34]:
df_prop.head()

      BOROUGH             NEIGHBORHOOD  ...   week_day   borough_name
32184       3                 CANARSIE  ...   Thursday       Brooklyn
83718       5        WEST NEW BRIGHTON  ...   Thursday  Staten Island
56085       4           FLUSHING-NORTH  ...  Wednesday         Queens
55547       4             FAR ROCKAWAY  ...     Monday         Queens
80343       5  NEW BRIGHTON-ST. GEORGE  ...   Thursday  Staten Island

[5 rows x 26 columns]

In [35]:
#Dropping few columns
del df_prop_lin['BUILDING CLASS AT PRESENT']
del df_prop_lin['BUILDING CLASS AT TIME OF SALE']
del df_prop_lin['NEIGHBORHOOD']
del df_prop_lin['ADDRESS']
del df_prop_lin['SALE DATE']
del df_prop_lin['APARTMENT NUMBER']
del df_prop_lin['RESIDENTIAL UNITS']
del df_prop_lin['COMMERCIAL UNITS']

In [36]:
#Select the variables to be one-hot encoded
one_hot_features = ['BOROUGH', 'BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','TAX CLASS AT TIME OF SALE']
# Convert categorical variables into dummy/indicator variables (i.e. one-hot encoding).
one_hot_encoded = pd.get_dummies(df_prop_lin[one_hot_features],drop_first=True)
one_hot_encoded.info(verbose=True, memory_usage=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5873 entries, 32184 to 64852
Data columns (total 51 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   BOROUGH_2                                                            5873 non-null   uint8
 1   BOROUGH_3                                                            5873 non-null   uint8
 2   BOROUGH_4                                                            5873 non-null   uint8
 3   BOROUGH_5                                                            5873 non-null   uint8
 4   BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                      5873 non-null   uint8
 5   BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                    5873 non-null   uint8
 6   BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS                        5873 non-null   uint8
 7   BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND                   5873 non-null   uint8
 8   BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER                       5873 non-null   uint8
 9   BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS               5873 non-null   uint8
 10  BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS             5873 non-null   uint8
 11  BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS                 5873 non-null   uint8
 12  BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS               5873 non-null   uint8
 13  BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS                5873 non-null   uint8
 14  BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS              5873 non-null   uint8
 15  BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                       5873 non-null   uint8
 16  BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL            5873 non-null   uint8
 17  BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT   5873 non-null   uint8
 18  BUILDING CLASS CATEGORY_17 CONDO COOPS                               5873 non-null   uint8
 19  BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS                          5873 non-null   uint8
 20  BUILDING CLASS CATEGORY_22 STORE BUILDINGS                           5873 non-null   uint8
 21  BUILDING CLASS CATEGORY_23 LOFT BUILDINGS                            5873 non-null   uint8
 22  BUILDING CLASS CATEGORY_26 OTHER HOTELS                              5873 non-null   uint8
 23  BUILDING CLASS CATEGORY_27 FACTORIES                                 5873 non-null   uint8
 24  BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS                         5873 non-null   uint8
 25  BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES                        5873 non-null   uint8
 26  BUILDING CLASS CATEGORY_30 WAREHOUSES                                5873 non-null   uint8
 27  BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND                    5873 non-null   uint8
 28  BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES            5873 non-null   uint8
 29  BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES                    5873 non-null   uint8
 30  BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES     5873 non-null   uint8
 31  BUILDING CLASS CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES           5873 non-null   uint8
 32  BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES                      5873 non-null   uint8
 33  BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES                         5873 non-null   uint8
 34  BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER                       5873 non-null   uint8
 35  BUILDING CLASS CATEGORY_43 CONDO OFFICE BUILDINGS                    5873 non-null   uint8
 36  BUILDING CLASS CATEGORY_44 CONDO PARKING                             5873 non-null   uint8
 37  BUILDING CLASS CATEGORY_45 CONDO HOTELS                              5873 non-null   uint8
 38  BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                     5873 non-null   uint8
 39  BUILDING CLASS CATEGORY_47 CONDO NON-BUSINESS STORAGE                5873 non-null   uint8
 40  TAX CLASS AT PRESENT_1                                               5873 non-null   uint8
 41  TAX CLASS AT PRESENT_1A                                              5873 non-null   uint8
 42  TAX CLASS AT PRESENT_1B                                              5873 non-null   uint8
 43  TAX CLASS AT PRESENT_1C                                              5873 non-null   uint8
 44  TAX CLASS AT PRESENT_2                                               5873 non-null   uint8
 45  TAX CLASS AT PRESENT_2A                                              5873 non-null   uint8
 46  TAX CLASS AT PRESENT_2B                                              5873 non-null   uint8
 47  TAX CLASS AT PRESENT_2C                                              5873 non-null   uint8
 48  TAX CLASS AT PRESENT_4                                               5873 non-null   uint8
 49  TAX CLASS AT TIME OF SALE_2                                          5873 non-null   uint8
 50  TAX CLASS AT TIME OF SALE_4                                          5873 non-null   uint8
dtypes: uint8(51)
memory usage: 338.4 KB

In [37]:
# Replacing categorical columns with dummies
fdf = df_prop_lin.drop(one_hot_features,axis=1)
fdf = pd.concat([fdf, one_hot_encoded] ,axis=1)

In [38]:
fdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5873 entries, 32184 to 64852
Data columns (total 59 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   BLOCK                                                                5873 non-null   int64
 1   LOT                                                                  5873 non-null   int64
 2   ZIP CODE                                                             5873 non-null   int64
 3   TOTAL UNITS                                                          5873 non-null   int64
 4   LAND SQUARE FEET                                                     5873 non-null   float64
 5   GROSS SQUARE FEET                                                    5873 non-null   float64
 6   YEAR BUILT                                                           5873 non-null   int64
 7   SALE PRICE                                                           5873 non-null   int64
 8   BOROUGH_2                                                            5873 non-null   uint8
 9   BOROUGH_3                                                            5873 non-null   uint8
 10  BOROUGH_4                                                            5873 non-null   uint8
 11  BOROUGH_5                                                            5873 non-null   uint8
 12  BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                      5873 non-null   uint8
 13  BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                    5873 non-null   uint8
 14  BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS                        5873 non-null   uint8
 15  BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND                   5873 non-null   uint8
 16  BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER                       5873 non-null   uint8
 17  BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS               5873 non-null   uint8
 18  BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS             5873 non-null   uint8
 19  BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS                 5873 non-null   uint8
 20  BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS               5873 non-null   uint8
 21  BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS                5873 non-null   uint8
 22  BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS              5873 non-null   uint8
 23  BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                       5873 non-null   uint8
 24  BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL            5873 non-null   uint8
 25  BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT   5873 non-null   uint8
 26  BUILDING CLASS CATEGORY_17 CONDO COOPS                               5873 non-null   uint8
 27  BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS                          5873 non-null   uint8
 28  BUILDING CLASS CATEGORY_22 STORE BUILDINGS                           5873 non-null   uint8
 29  BUILDING CLASS CATEGORY_23 LOFT BUILDINGS                            5873 non-null   uint8
 30  BUILDING CLASS CATEGORY_26 OTHER HOTELS                              5873 non-null   uint8
 31  BUILDING CLASS CATEGORY_27 FACTORIES                                 5873 non-null   uint8
 32  BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS                         5873 non-null   uint8
 33  BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES                        5873 non-null   uint8
 34  BUILDING CLASS CATEGORY_30 WAREHOUSES                                5873 non-null   uint8
 35  BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND                    5873 non-null   uint8
 36  BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES            5873 non-null   uint8
 37  BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES                    5873 non-null   uint8
 38  BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES     5873 non-null   uint8
 39  BUILDING CLASS CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES           5873 non-null   uint8
 40  BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES                      5873 non-null   uint8
 41  BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES                         5873 non-null   uint8
 42  BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER                       5873 non-null   uint8
 43  BUILDING CLASS CATEGORY_43 CONDO OFFICE BUILDINGS                    5873 non-null   uint8
 44  BUILDING CLASS CATEGORY_44 CONDO PARKING                             5873 non-null   uint8
 45  BUILDING CLASS CATEGORY_45 CONDO HOTELS                              5873 non-null   uint8
 46  BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                     5873 non-null   uint8
 47  BUILDING CLASS CATEGORY_47 CONDO NON-BUSINESS STORAGE                5873 non-null   uint8
 48  TAX CLASS AT PRESENT_1                                               5873 non-null   uint8
 49  TAX CLASS AT PRESENT_1A                                              5873 non-null   uint8
 50  TAX CLASS AT PRESENT_1B                                              5873 non-null   uint8
 51  TAX CLASS AT PRESENT_1C                                              5873 non-null   uint8
 52  TAX CLASS AT PRESENT_2                                               5873 non-null   uint8
 53  TAX CLASS AT PRESENT_2A                                              5873 non-null   uint8
 54  TAX CLASS AT PRESENT_2B                                              5873 non-null   uint8
 55  TAX CLASS AT PRESENT_2C                                              5873 non-null   uint8
 56  TAX CLASS AT PRESENT_4                                               5873 non-null   uint8
 57  TAX CLASS AT TIME OF SALE_2                                          5873 non-null   uint8
 58  TAX CLASS AT TIME OF SALE_4                                          5873 non-null   uint8
dtypes: float64(2), int64(6), uint8(51)
memory usage: 705.4 KB

### Standardization

In [39]:
#Standardize rows into uniform scale

X = fdf.drop(['SALE PRICE'],axis=1)
y = fdf['SALE PRICE']

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)

# Scale and center the data
fdf_normalized = scaler.transform(X)

# Create a pandas DataFrame
X = pd.DataFrame(data=fdf_normalized, index=X.index, columns=X.columns)

### Split the data into train and test

In [40]:
from sklearn.model_selection import train_test_split   #splitting data
from pylab import rcParams
from sklearn.linear_model import LinearRegression         #linear regression
from sklearn.metrics.regression import mean_squared_error #error metrics
from sklearn.metrics import mean_absolute_error

X_train, X_test, y_train, y_test = train_test_split(fdf_normalized,y)

In [41]:
#@title Save 
df_prop1 = df_prop.copy()

In [42]:
#@title Restore
df_prop = df_prop1.copy()

In [43]:
# Convert to numpy arrays
training_features = np.array(X_train)


# Sklearn wants the labels as one-dimensional vectors
training_targets = np.array(y_train).reshape((-1,))

## Model Building

In [44]:
#100 pipelines
#5 generations
# Create a tpot object with a few parameters
tpot = TPOTRegressor(generations=5, population_size= 100, 
                    max_time_mins = 10,
                    n_jobs = -1, verbosity = 2, cv = 5)

In [45]:
# Fit the tpot model on the training data
tpot.fit(training_features, training_targets)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', style=ProgressStyle(description_wâ€¦

10.38 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesRegressor(input_matrix, bootstrap=False, max_features=0.8, min_samples_leaf=3, min_samples_split=12, n_estimators=100)

TPOTRegressor(config_dict=None, crossover_rate=0.1, cv=5,
              disable_update_check=False, early_stop=None, generations=5,
              log_file=<ipykernel.iostream.OutStream object at 0x7f6b26597978>,
              max_eval_time_mins=5, max_time_mins=10, memory=None,
              mutation_rate=0.9, n_jobs=-1, offspring_size=None,
              periodic_checkpoint_folder=None, population_size=100,
              random_state=None, scoring=None, subsample=1.0, template=None,
              use_dask=False, verbosity=2, warm_start=False)

In [46]:
# Show the final model
print(tpot.fitted_pipeline_)

Pipeline(memory=None,
         steps=[('extratreesregressor',
                 ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0,
                                     criterion='mse', max_depth=None,
                                     max_features=0.8, max_leaf_nodes=None,
                                     max_samples=None,
                                     min_impurity_decrease=0.0,
                                     min_impurity_split=None,
                                     min_samples_leaf=3, min_samples_split=12,
                                     min_weight_fraction_leaf=0.0,
                                     n_estimators=100, n_jobs=None,
                                     oob_score=False, random_state=None,
                                     verbose=0, warm_start=False))],
         verbose=False)

In [47]:
# Export the pipeline as a python script file
tpot.export('tpot_exported_pipeline.py')

## Evaluating final model

In [48]:
 # Evaluate the final model
print(tpot.score(X_test, y_test))

-1171518603690.3508